.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 10vh;
}
.title{
    margin-left: 10px;
}
/* .icon{
    width: 100px;
    height: 100%;
} */
.home{
    text-decoration: none;
    color: white;
}
.home-p{
    margin-right: 10px;
}
@media(max-width: 450px){
    .nav-container{
        flex-direction: column;
        margin-bottom: 5vh;
    }
    .title{
        font-size: 15px;
        margin-left: 0px;
    }
    .home-p{
        font-size: 12px;
        margin-right: 0px;
    }
}
@media(max-width: 100px){
    .title{
        font-size: 7px;
    }
    .home-p{
        font-size: 8px;
    }
}