.app-container{
  /* border: 2px solid black; */
  width: 40%;
  height: 90vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10%;
  box-shadow: 0px 5px 10px cornflowerblue;
}
.app-logo{
  width: 70%;
  height: 70%;
  margin: auto;
}
.create-btn{
  background-color: blue;
  padding: 10px;
  color: white;
  width: 60%;
  margin-bottom: 10px;
}
.login-btn{
  background-color: red;
  padding: 10px;
  color: white;
  width: 60%;
}