.app-container{
  width: 40%;
  height: 90vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10%;
  box-shadow: 0px 5px 10px cornflowerblue;
}
.app-logo{
  width: 70%;
  height: 70%;
  margin: auto;
}
.create-btn{
  background-color: #3498db;
  padding: 10px;
  color: white;
  width: 60%;
  margin-bottom: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  outline: none;
}
.login-btn{
  background-color: rgb(241, 89, 89);
  padding: 10px;
  color: white;
  width: 60%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  outline: none;
}
.heading{
  color: #3498db;
  font-size: 30px;
}
.sub-heading{
  color: #3498db;
}

@media(max-width: 700px){
  .heading{
    font-size: 22px;
  }
  .login-btn, .create-btn{
    font-size: 15px;
  }
  .app-container{
    width: 50%;
  }

}
@media(max-width: 500px){
  .heading{
    font-size: 18px;
  }
  .login-btn, .create-btn{
    font-size: 10px;
  }
  .app-container{
    width: 60%;
  }

}
@media(max-width: 300px){
  .heading{
    font-size: 12px;
  }
  .login-btn, .create-btn{
    font-size: 8px;
  }
  .app-container{
    width: 70%;
  }

}
@media(max-width: 180px){
  .app-container{
    width: 80%;
    height: auto;
  }
  .heading{
    font-size: 5vw;
  }
  .login-btn, .create-btn{
    font-size: 4px;
    border-radius: 0px;
    padding: 2px;
  }
}